$header-color: #DD5533;
$header-color-hover: #CC4422;

* { box-sizing: border-box }

body
{
    background: #F9F6F9;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
}

header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-right: 8%;
    background: $header-color;
    border-right: 4px solid #993300;

    h1
    {
        margin: 0;
        color: #660000;
    }
}

.header-logo,
.header-nav
{
    color: #222;
}

.header-logo
{
    padding: 0 30px 30px 30px;
    z-index: 100;
}

#header-nav
{
    z-index: 50;
    background: $header-color;

    ul
    {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    a
    {
        display: block;
        padding: 7px 0 7px 30px;
        color: white;
        font-family: Monaco, monospace;
        font-size: 12px;
        text-decoration: none;

        &:hover
        {
            background: $header-color-hover;
        }
    }
}

main
{
    width: 50%;
    margin: auto 0;
    color: #666;

    p
    {
        margin: 0;
    }

    p + p
    {
        margin-top: 10px;
    }

    a { color: #CCC; text-decoration: none; transition: 300ms; }
    a:hover { color: #999; }
}

.tagline
{
    display: block;
    font-size: 18px;
    font-weight: bold;
}

#response
{
    margin-top: 10%;
    padding: 40px;
    border-radius: 2px;
    background: #F3F0F3;

    img
    {
        width: 100%;
        height: auto;
    }
}

footer
{
    margin-top: 300px;

    small
    {
        margin-top: 50px;
        font-size: 0.7em;
    }

    a
    {
        color: #AAA;
        text-decoration: none;
    }
}
